<!-- Componente delle main view (navigation bar) -->

<!-- Calendario -->
<li class="hs-has nav-item">
    <a href="/calendario">
        <span class="nav-link">Calendario</span>
    </a>
</li>
<!-- End Registro -->

<!-- Registro -->
<li class="hs-has nav-item">
    <a href="<%=linkRegistro%>">
        <span class="nav-link">Registro</span>
    </a>
</li>
<!-- End Registro -->

<!-- Account -->
<li class="hs-has nav-item">
    <a href="/login" >
        <span class="nav-link">Account</span>
    </a>
</li>
<% if (isLoggedIn) { %>
    <button style="border-radius: 1rem" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#signupModal">Cerca</button>
<% } %>

</div>
<!-- End Account -->

<!--LINEE DI CODICE ELIMINATE 001-->