<!-- ========== HEADER ========== -->
<header id="header" class="navbar navbar-expand-lg navbar-floating navbar-end navbar-light">

    <div class="container">
      <nav class="js-mega-menu navbar-nav-wrap">
        <!-- Default Logo -->
        <a class="navbar-brand" href="./index.html" aria-label="Front">
          <img
            class="navbar-brand-logo"
            src="./assets/svg/logos/logo.svg"
            alt="Logo"
          />
        </a>
        <!-- End Default Logo -->

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <div class="navbar-absolute-top-scroller">
            <ul class="navbar-nav">
              <li class="nav-item">
                  <a
                    class="btn btn-soft-primary btn-transition"
                    href="\logout"
                    >Logout</a
                  >
                </li>
              <!-- Button -->
              <li class="nav-item">
                <a
                  class="btn btn-primary btn-transition"
                  href="/"
                  >Home</a
                >
              </li>
              <!-- End Button -->
            </ul>
          </div>
        </div>
        <!-- End Collapse -->
      </nav>
    </div>
  </header>
  <!-- ========== END HEADER ========== -->