<!DOCTYPE html>
<html lang="en" dir="">
  <head>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Title -->
    <title>Corporate | Front - Multipurpose Responsive Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="./favicon.ico" />

    <!-- Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
      rel="stylesheet"
    />

    <!-- CSS Implementing Plugins -->
    <link
      rel="stylesheet"
      href="./assets/vendor/bootstrap-icons/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="./assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.css"
    />
    <link rel="stylesheet" href="./assets/vendor/aos/dist/aos.css" />
    <link
      rel="stylesheet"
      href="./assets/vendor/swiper/swiper-bundle.min.css"
    />

    <!-- CSS Front Template -->
    <link rel="stylesheet" href="./assets/css/theme.min.css" />
    <link rel="stylesheet" href="./assets/css/homepage.css" />
  </head>

  <body>
    <%- include('partials/_spinner.ejs') %>
    <!-- ========== HEADER ========== -->
    <%- include('partials/_navbar.ejs') %>

    <!-- ========== END HEADER ========== -->

    <!-- ========== DARK MODE ========== -->
    <div id="dark-mode-container" class="form-switch text-center my-5">
      <input type="checkbox" id="mode" class="form-check-input" />
    </div>

    <!-- ========== MAIN CONTENT ========== -->
    <!-- Hero -->
<div class="overflow-hidden">
    <div class="container content-space-t-4 content-space-b-3">
      <div class="row justify-content-lg-between align-items-md-center">
        <div class="col-md-6 col-lg-5 mb-7 mb-md-0">
          <!-- Heading -->
          <div class="mb-5">
            <span class="text-cap">Who we are?</span>
            <h1 class="display-4 mb-3">Design agency that inspires</h1>
            <p class="lead">Our team aims to deliver the most outstanding work in every pixel.</p>
          </div>
          <!-- End Title & Description -->
  
          <div class="d-grid d-sm-flex gap-3">
            <a class="btn btn-primary btn-transition" href="#caseStudies">Case studies</a>
            <a class="btn btn-link" href="#">Learn more <i class="bi-chevron-right small ms-1"></i></a>
          </div>
        </div>
        <!-- End Col -->
  
        <div class="col-md-6">
          <div class="position-relative">
            <img class="img-fluid rounded-2" src="../assets/svg/components/card-10.svg" alt="Image Description">
            <div class="position-absolute top-0 end-0 w-100 h-100 bg-soft-primary rounded-2 zi-n1 mt-5 me-n5"></div>
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
  </div>
  <!-- End Hero -->
    <!-- ========== END MAIN CONTENT ========== -->

    <%- include('partials/_footer.ejs') %>

    <!-- JS Global Compulsory  -->
    <script src="./assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- JS Implementing Plugins -->
    <script src="./assets/vendor/hs-header/dist/hs-header.min.js"></script>
    <script src="./assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.js"></script>
    <script src="./assets/vendor/hs-show-animation/dist/hs-show-animation.min.js"></script>
    <script src="./assets/vendor/hs-go-to/dist/hs-go-to.min.js"></script>
    <script src="./assets/vendor/aos/dist/aos.js"></script>
    <script src="./assets/vendor/typed.js/lib/typed.min.js"></script>
    <script src="./assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <!-- JS Front -->
    <script src="./assets/js/theme.min.js"></script>
    <script src="./assets/js/main.js"></script>

    <!-- JS Plugins Init. -->
    <script>
      (function () {
        // INITIALIZATION OF HEADER
        // =======================================================
        new HSHeader("#header").init();

        // INITIALIZATION OF MEGA MENU
        // =======================================================
        new HSMegaMenu(".js-mega-menu", {
          desktop: {
            position: "left",
          },
        });

        // INITIALIZATION OF SHOW ANIMATIONS
        // =======================================================
        new HSShowAnimation(".js-animation-link");

        // INITIALIZATION OF BOOTSTRAP VALIDATION
        // =======================================================
        HSBsValidation.init(".js-validate", {
          onSubmit: (data) => {
            data.event.preventDefault();
            alert("Submited");
          },
        });

        // INITIALIZATION OF BOOTSTRAP DROPDOWN
        // =======================================================
        HSBsDropdown.init();

        // INITIALIZATION OF GO TO
        // =======================================================
        new HSGoTo(".js-go-to");

        // INITIALIZATION OF AOS
        // =======================================================
        AOS.init({
          duration: 650,
          once: true,
        });

        // INITIALIZATION OF TEXT ANIMATION (TYPING)
        // =======================================================
        HSCore.components.HSTyped.init(".js-typedjs");

        // INITIALIZATION OF SWIPER
        // =======================================================
        var sliderThumbs = new Swiper(".js-swiper-thumbs", {
          watchSlidesVisibility: true,
          watchSlidesProgress: true,
          history: false,
          breakpoints: {
            480: {
              slidesPerView: 2,
              spaceBetween: 15,
            },
            768: {
              slidesPerView: 3,
              spaceBetween: 15,
            },
            1024: {
              slidesPerView: 3,
              spaceBetween: 15,
            },
          },
          on: {
            afterInit: function (swiper) {
              swiper.el
                .querySelectorAll(".js-swiper-pagination-progress-body-helper")
                .forEach(
                  ($progress) =>
                    ($progress.style.transitionDuration = `${swiper.params.autoplay.delay}ms`)
                );
            },
          },
        });

        var sliderMain = new Swiper(".js-swiper-main", {
          effect: "fade",
          autoplay: true,
          loop: true,
          thumbs: {
            swiper: sliderThumbs,
          },
        });
      })();
    </script>
  </body>
</html>
