<!DOCTYPE html>
<html lang="en" dir="">
  <head>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Title -->
    <title>Registro</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="./favicon.ico" />

    <!-- Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
      rel="stylesheet"
    />

    <!-- CSS Implementing Plugins -->
    <link
      rel="stylesheet"
      href="./assets/vendor/bootstrap-icons/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="./assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.css"
    />
    <link rel="stylesheet" href="./assets/vendor/aos/dist/aos.css" />

    <!-- CSS Front Template -->
    <link rel="stylesheet" href="./assets/css/theme.min.css" />
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/instantsearch.css@8.0.0/themes/satellite-min.css"
    integrity="sha256-p/rGN4RGy6EDumyxF9t7LKxWGg6/MZfGhJM/asKkqvA="
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="./assets/css/style.css">
  </head>

  <body>

    <% if (isLoggedIn) { %>
     <!-- ========== Modal search ==========-->
    <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
          <div class="modal-content">
            <!-- Header -->
            <div class="modal-close">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- End Header -->
      
            <!-- Body -->
            <div class="modal-body">
              <!-- Log in -->
              <div class="ais-InstantSearch">
                  <center>
                    <h1>Cerca uno studente</h1>
                  </center>
          
                  <div class="right-panel">
                    <div id="searchbox"></div>
                    <div id="hits"></div>
                    <div id="pagination"></div>
                  </div>
                </div>
          
                <div class="container">
                  <div class="search-panel">
                    <div class="search-panel__filters">
                      <div id="dynamic-widgets"></div>
                    </div>
          
                    <div class="search-panel__results">
                      <div id="searchbox"></div>
                      <div id="hits"></div>
                      <div id="pagination"></div>
                    </div>
                  </div>
                </div>
            </div>
            <!-- End Body -->
          </div>
        </div>
      </div>
    <% } %>

    <!-- ========== HEADER ========== -->
    <header
      id="header"
      style="margin: 1rem; border-radius: 1rem; box-shadow: 0rem 0rem 2rem 0.5rem rgba(20, 29, 71, 0.472);"
      class="navbar navbar-floating navbar-expand-lg navbar-end navbar-light navbar-show-hide"
      data-hs-header-options='{
            "fixMoment": 1000,
            "fixEffect": "fade"
          }'
    >
      <div class="container">
        <nav class="js-mega-menu navbar-nav-wrap">
          <!-- Toggler -->
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-default">
              <i class="bi-list"></i>
            </span>
            <span class="navbar-toggler-toggled">
              <i class="bi-x"></i>
            </span>
          </button>
          <!-- End Toggler -->

          <!-- Collapse -->
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <div class="navbar-absolute-top-scroller">
              <ul class="navbar-nav">
                <%- include('partials/_navbar'); %>
                <!--
                <li class="nav-item">
                  <button type="button" class="btn btn-primary btn-icon">
                      <i class="bi-person"></i>
                  </button>
                </li>
-->
                <!-- End Button -->
              </ul>
            </div>
          </div>
          <!-- End Collapse -->
        </nav>
      </div>
    </header>
    <!-- ========== END HEADER ========== -->

    <!-- ========== MAIN CONTENT ========== -->
    <main id="content" role="main">
      <div id="hits"></div>
      <div id="pagination"></div>
      <!-- Hero -->
      <div class="container overflow-hidden content-space-t-4">
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
          <h1 class="display-4 mb-3">Registro elettronico</h1>
          <p class="lead">Istituto Don Carlo Gnocchi</p>
        </div>
        <%- include('partials/_nav_index.ejs'); %>
      </div>
      <!-- End Hero -->
    </main>
    <!-- ========== END MAIN CONTENT ========== -->
    <br>
    <br>

    <!-- ========== FOOTER ========== -->
    <footer class="bg-dark">
      <div class="container pb-1 pb-lg-5">
        <div class="row content-space-t-2">
          <div class="col-lg-3 mb-7 mb-lg-0">
            <!-- Logo -->
            <div class="mb-5">
              <a class="navbar-brand" href="./index.html" aria-label="Space">
                <img
                  class="navbar-brand-logo"
                  src="./assets/svg/logos/logo-white.svg"
                  alt="Image Description"
                />
              </a>
            </div>
            <!-- End Logo -->

            <!-- List -->
            <ul class="list-unstyled list-py-1">
              <li>
                <a class="link-sm link-light" href="#"
                  ><i class="bi-geo-alt-fill me-1"></i> 153 Williamson Plaza,
                  Maggieberg</a
                >
              </li>
              <li>
                <a class="link-sm link-light" href="tel:1-062-109-9222"
                  ><i class="bi-telephone-inbound-fill me-1"></i> +1 (062)
                  109-9222</a
                >
              </li>
            </ul>
            <!-- End List -->
          </div>
          <!-- End Col -->

          <div class="col-sm mb-7 mb-sm-0">
            <h5 class="text-white mb-3">Company</h5>

            <!-- List -->
            <ul class="list-unstyled list-py-1 mb-0">
              <li><a class="link-sm link-light" href="#">About</a></li>
              <li>
                <a class="link-sm link-light" href="#"
                  >Careers
                  <span class="badge bg-warning text-dark rounded-pill ms-1"
                    >We're hiring</span
                  ></a
                >
              </li>
              <li><a class="link-sm link-light" href="#">Blog</a></li>
              <li>
                <a class="link-sm link-light" href="#"
                  >Customers <i class="bi-box-arrow-up-right small ms-1"></i
                ></a>
              </li>
              <li><a class="link-sm link-light" href="#">Hire us</a></li>
            </ul>
            <!-- End List -->
          </div>
          <!-- End Col -->

          <div class="col-sm mb-7 mb-sm-0">
            <h5 class="text-white mb-3">Features</h5>

            <!-- List -->
            <ul class="list-unstyled list-py-1 mb-0">
              <li>
                <a class="link-sm link-light" href="#"
                  >Press <i class="bi-box-arrow-up-right small ms-1"></i
                ></a>
              </li>
              <li><a class="link-sm link-light" href="#">Release Notes</a></li>
              <li><a class="link-sm link-light" href="#">Integrations</a></li>
              <li><a class="link-sm link-light" href="#">Pricing</a></li>
            </ul>
            <!-- End List -->
          </div>
          <!-- End Col -->

          <div class="col-sm">
            <h5 class="text-white mb-3">Documentation</h5>

            <!-- List -->
            <ul class="list-unstyled list-py-1 mb-0">
              <li><a class="link-sm link-light" href="#">Support</a></li>
              <li><a class="link-sm link-light" href="#">Docs</a></li>
              <li><a class="link-sm link-light" href="#">Status</a></li>
              <li><a class="link-sm link-light" href="#">API Reference</a></li>
              <li>
                <a class="link-sm link-light" href="#">Tech Requirements</a>
              </li>
            </ul>
            <!-- End List -->
          </div>
          <!-- End Col -->

          <div class="col-sm">
            <h5 class="text-white mb-3">Resources</h5>

            <!-- List -->
            <ul class="list-unstyled list-py-1 mb-5">
              <li>
                <a class="link-sm link-light" href="#"
                  ><i class="bi-question-circle-fill me-1"></i> Help</a
                >
              </li>
              <li>
                <a class="link-sm link-light" href="#"
                  ><i class="bi-person-circle me-1"></i> Your Account</a
                >
              </li>
            </ul>
            <!-- End List -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->

        <div class="border-top border-white-10 my-7"></div>

        <div class="row mb-7">
          <div class="col-sm mb-3 mb-sm-0">
            <!-- Socials -->
            <ul class="list-inline list-separator list-separator-light mb-0">
              <li class="list-inline-item">
                <a class="link-sm link-light" href="#">Privacy &amp; Policy</a>
              </li>
              <li class="list-inline-item">
                <a class="link-sm link-light" href="#">Terms</a>
              </li>
              <li class="list-inline-item">
                <a class="link-sm link-light" href="#">Site Map</a>
              </li>
            </ul>
            <!-- End Socials -->
          </div>

          <div class="col-sm-auto">
            <!-- Socials -->
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-soft-light btn-xs btn-icon" href="#">
                  <i class="bi-facebook"></i>
                </a>
              </li>

              <li class="list-inline-item">
                <a class="btn btn-soft-light btn-xs btn-icon" href="#">
                  <i class="bi-google"></i>
                </a>
              </li>

              <li class="list-inline-item">
                <a class="btn btn-soft-light btn-xs btn-icon" href="#">
                  <i class="bi-twitter"></i>
                </a>
              </li>

              <li class="list-inline-item">
                <a class="btn btn-soft-light btn-xs btn-icon" href="#">
                  <i class="bi-github"></i>
                </a>
              </li>

              <li class="list-inline-item">
                <!-- Button Group -->
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-soft-light btn-xs dropdown-toggle"
                    id="footerSelectLanguage"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    data-bs-dropdown-animation
                  >
                    <span class="d-flex align-items-center">
                      <img
                        class="avatar avatar-xss avatar-circle me-2"
                        src="./assets/vendor/flag-icon-css/flags/1x1/us.svg"
                        alt="Image description"
                        width="16"
                      />
                      <span>English (US)</span>
                    </span>
                  </button>

                  <div
                    class="dropdown-menu"
                    aria-labelledby="footerSelectLanguage"
                  >
                    <a
                      class="dropdown-item d-flex align-items-center active"
                      href="#"
                    >
                      <img
                        class="avatar avatar-xss avatar-circle me-2"
                        src="./assets/vendor/flag-icon-css/flags/1x1/us.svg"
                        alt="Image description"
                        width="16"
                      />
                      <span>English (US)</span>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                      <img
                        class="avatar avatar-xss avatar-circle me-2"
                        src="./assets/vendor/flag-icon-css/flags/1x1/de.svg"
                        alt="Image description"
                        width="16"
                      />
                      <span>Deutsch</span>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                      <img
                        class="avatar avatar-xss avatar-circle me-2"
                        src="./assets/vendor/flag-icon-css/flags/1x1/es.svg"
                        alt="Image description"
                        width="16"
                      />
                      <span>Español</span>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                      <img
                        class="avatar avatar-xss avatar-circle me-2"
                        src="./assets/vendor/flag-icon-css/flags/1x1/cn.svg"
                        alt="Image description"
                        width="16"
                      />
                      <span>中文 (繁體)</span>
                    </a>
                  </div>
                </div>
                <!-- End Button Group -->
              </li>
            </ul>
            <!-- End Socials -->
          </div>
        </div>

        <!-- Copyright -->
        <div class="w-md-85 text-lg-center mx-lg-auto">
          <p class="text-white-50 small">
            &copy; Front. 2021 Htmlstream. All rights reserved.
          </p>
          <p class="text-white-50 small">
            When you visit or interact with our sites, services or tools, we or
            our authorised service providers may use cookies for storing
            information to help provide you with a better, faster and safer
            experience and for marketing purposes.
          </p>
        </div>
        <!-- End Copyright -->
      </div>
    </footer>

    <!-- ========== END FOOTER ========== -->

    <!-- ========== SECONDARY CONTENTS ========== -->
    <!-- Sign Up -->
    <div
      class="modal fade"
      id="signupModal"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <!-- Header -->
          <div class="modal-close">
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <!-- End Header -->

          <!-- Body -->
          <div class="modal-body">
            <!-- Log in -->
            <div id="signupModalFormLogin" style="display: none; opacity: 0">
              <!-- Heading -->
              <div class="text-center mb-7">
                <h2>Log in</h2>
                <p>
                  Don't have an account yet?
                  <a
                    class="js-animation-link link"
                    href="javascript:;"
                    role="button"
                    data-hs-show-animation-options='{
                         "targetSelector": "#signupModalFormSignup",
                         "groupName": "idForm"
                       }'
                    >Sign up</a
                  >
                </p>
              </div>
              <!-- End Heading -->

              <div class="d-grid gap-2">
                <a class="btn btn-white btn-lg" href="#">
                  <span
                    class="d-flex justify-content-center align-items-center"
                  >
                    <img
                      class="avatar avatar-xss me-2"
                      src="./assets/svg/brands/google-icon.svg"
                      alt="Image Description"
                    />
                    Log in with Google
                  </span>
                </a>

                <a
                  class="js-animation-link btn btn-primary btn-lg"
                  href="#"
                  data-hs-show-animation-options='{
                       "targetSelector": "#signupModalFormLoginWithEmail",
                       "groupName": "idForm"
                     }'
                  >Log in with Email</a
                >
              </div>
            </div>
            <!-- End Log in -->

            <!-- Log in with Modal -->
            <div
              id="signupModalFormLoginWithEmail"
              style="display: none; opacity: 0"
            >
              <!-- Heading -->
              <div class="text-center mb-7">
                <h2>Log in</h2>
                <p>
                  Don't have an account yet?
                  <a
                    class="js-animation-link link"
                    href="javascript:;"
                    role="button"
                    data-hs-show-animation-options='{
                         "targetSelector": "#signupModalFormSignup",
                         "groupName": "idForm"
                       }'
                    >Sign up</a
                  >
                </p>
              </div>
              <!-- End Heading -->

              <form class="js-validate needs-validation" novalidate>
                <!-- Form -->
                <div class="mb-3">
                  <label class="form-label" for="signupModalFormLoginEmail"
                    >Your email</label
                  >
                  <input
                    type="email"
                    class="form-control form-control-lg"
                    name="email"
                    id="signupModalFormLoginEmail"
                    placeholder="email@site.com"
                    aria-label="email@site.com"
                    required
                  />
                  <span class="invalid-feedback"
                    >Please enter a valid email address.</span
                  >
                </div>
                <!-- End Form -->

                <!-- Form -->
                <div class="mb-3">
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <label class="form-label" for="signupModalFormLoginPassword"
                      >Password</label
                    >

                    <a
                      class="js-animation-link form-label-link"
                      href="javascript:;"
                      data-hs-show-animation-options='{
                       "targetSelector": "#signupModalFormResetPassword",
                       "groupName": "idForm"
                     }'
                      >Forgot Password?</a
                    >
                  </div>

                  <input
                    type="password"
                    class="form-control form-control-lg"
                    name="password"
                    id="signupModalFormLoginPassword"
                    placeholder="8+ characters required"
                    aria-label="8+ characters required"
                    required
                    minlength="8"
                  />
                  <span class="invalid-feedback"
                    >Please enter a valid password.</span
                  >
                </div>
                <!-- End Form -->

                <div class="d-grid mb-3">
                  <button type="submit" class="btn btn-primary form-control-lg">
                    Log in
                  </button>
                </div>
              </form>
            </div>
            <!-- End Log in with Modal -->

            <!-- Sign up -->
            <div id="signupModalFormSignup">
              <!-- Heading -->
              <div class="text-center mb-7">
                <h2>Sign up</h2>
                <p>
                  Already have an account?
                  <a
                    class="js-animation-link link"
                    href="javascript:;"
                    role="button"
                    data-hs-show-animation-options='{
                         "targetSelector": "#signupModalFormLogin",
                         "groupName": "idForm"
                       }'
                    >Log in</a
                  >
                </p>
              </div>
              <!-- End Heading -->

              <div class="d-grid gap-3">
                <a class="btn btn-white btn-lg" href="#">
                  <span
                    class="d-flex justify-content-center align-items-center"
                  >
                    <img
                      class="avatar avatar-xss me-2"
                      src="./assets/svg/brands/google-icon.svg"
                      alt="Image Description"
                    />
                    Sign up with Google
                  </span>
                </a>

                <a
                  class="js-animation-link btn btn-primary btn-lg"
                  href="#"
                  data-hs-show-animation-options='{
                       "targetSelector": "#signupModalFormSignupWithEmail",
                       "groupName": "idForm"
                     }'
                  >Sign up with Email</a
                >

                <div class="text-center">
                  <p class="small mb-0">
                    By continuing you agree to our
                    <a href="#">Terms and Conditions</a>
                  </p>
                </div>
              </div>
            </div>
            <!-- End Sign up -->

            <!-- Sign up with Modal -->
            <div
              id="signupModalFormSignupWithEmail"
              style="display: none; opacity: 0"
            >
              <!-- Heading -->
              <div class="text-center mb-7">
                <h2>Sign up</h2>
                <p>
                  Already have an account?
                  <a
                    class="js-animation-link link"
                    href="javascript:;"
                    role="button"
                    data-hs-show-animation-options='{
                         "targetSelector": "#signupModalFormLogin",
                         "groupName": "idForm"
                       }'
                    >Log in</a
                  >
                </p>
              </div>
              <!-- End Heading -->

              <form class="js-validate need-validate" novalidate>
                <!-- Form -->
                <div class="mb-3">
                  <label class="form-label" for="signupModalFormSignupEmail"
                    >Your email</label
                  >
                  <input
                    type="email"
                    class="form-control form-control-lg"
                    name="email"
                    id="signupModalFormSignupEmail"
                    placeholder="email@site.com"
                    aria-label="email@site.com"
                    required
                  />
                  <span class="invalid-feedback"
                    >Please enter a valid email address.</span
                  >
                </div>
                <!-- End Form -->

                <!-- Form -->
                <div class="mb-3">
                  <label class="form-label" for="signupModalFormSignupPassword"
                    >Password</label
                  >
                  <input
                    type="password"
                    class="form-control form-control-lg"
                    name="password"
                    id="signupModalFormSignupPassword"
                    placeholder="8+ characters required"
                    aria-label="8+ characters required"
                    required
                  />
                  <span class="invalid-feedback"
                    >Your password is invalid. Please try again.</span
                  >
                </div>
                <!-- End Form -->

                <!-- Form -->
                <div class="mb-3" data-hs-validation-validate-class>
                  <label
                    class="form-label"
                    for="signupModalFormSignupConfirmPassword"
                    >Confirm password</label
                  >
                  <input
                    type="password"
                    class="form-control form-control-lg"
                    name="confirmPassword"
                    id="signupModalFormSignupConfirmPassword"
                    placeholder="8+ characters required"
                    aria-label="8+ characters required"
                    required
                    data-hs-validation-equal-field="#signupModalFormSignupPassword"
                  />
                  <span class="invalid-feedback"
                    >Password does not match the confirm password.</span
                  >
                </div>
                <!-- End Form -->

                <div class="d-grid mb-3">
                  <button type="submit" class="btn btn-primary form-control-lg">
                    Sign up
                  </button>
                </div>

                <div class="text-center">
                  <p class="small mb-0">
                    By continuing you agree to our
                    <a href="#">Terms and Conditions</a>
                  </p>
                </div>
              </form>
            </div>
            <!-- End Sign up with Modal -->

            <!-- Reset Password -->
            <div
              id="signupModalFormResetPassword"
              style="display: none; opacity: 0"
            >
              <!-- Heading -->
              <div class="text-center mb-7">
                <h2>Forgot password?</h2>
                <p>
                  Enter the email address you used when you joined and we'll
                  send you instructions to reset your password.
                </p>
              </div>
              <!-- En dHeading -->

              <form class="js-validate need-validate" novalidate>
                <div class="mb-3">
                  <!-- Form -->
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <label
                      class="form-label"
                      for="signupModalFormResetPasswordEmail"
                      tabindex="0"
                      >Your email</label
                    >

                    <a
                      class="js-animation-link form-label-link"
                      href="javascript:;"
                      data-hs-show-animation-options='{
                         "targetSelector": "#signupModalFormLogin",
                         "groupName": "idForm"
                       }'
                    >
                      <i class="bi-chevron-left small"></i> Back to Log in
                    </a>
                  </div>

                  <input
                    type="email"
                    class="form-control form-control-lg"
                    name="email"
                    id="signupModalFormResetPasswordEmail"
                    tabindex="1"
                    placeholder="Enter your email address"
                    aria-label="Enter your email address"
                    required
                  />
                  <span class="invalid-feedback"
                    >Please enter a valid email address.</span
                  >
                  <!-- End Form -->
                </div>

                <div class="d-grid">
                  <button type="submit" class="btn btn-primary form-control-lg">
                    Submit
                  </button>
                </div>
              </form>
            </div>
            <!-- End Reset Password -->
          </div>
          <!-- End Body -->

          <!-- Footer -->
          <div class="modal-footer d-block text-center py-sm-5">
            <small class="text-cap mb-4"
              >Trusted by the world's best teams</small
            >

            <div class="w-85 mx-auto">
              <div class="row justify-content-between">
                <div class="col">
                  <img
                    class="img-fluid"
                    src="./assets/svg/brands/gitlab-gray.svg"
                    alt="Logo"
                  />
                </div>
                <!-- End Col -->

                <div class="col">
                  <img
                    class="img-fluid"
                    src="./assets/svg/brands/fitbit-gray.svg"
                    alt="Logo"
                  />
                </div>
                <!-- End Col -->

                <div class="col">
                  <img
                    class="img-fluid"
                    src="./assets/svg/brands/flow-xo-gray.svg"
                    alt="Logo"
                  />
                </div>
                <!-- End Col -->

                <div class="col">
                  <img
                    class="img-fluid"
                    src="./assets/svg/brands/layar-gray.svg"
                    alt="Logo"
                  />
                </div>
                <!-- End Col -->
              </div>
            </div>
            <!-- End Row -->
          </div>
          <!-- End Footer -->
        </div>
      </div>
    </div>

    <!-- Go To -->
    <a
      class="js-go-to go-to position-fixed"
      href="javascript:;"
      style="visibility: hidden"
      data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": "2rem"
         },
         "show": {
           "bottom": "2rem"
         },
         "hide": {
           "bottom": "-2rem"
         }
       }
     }'
    >
      <i class="bi-chevron-up"></i>
    </a>
    <!-- ========== END SECONDARY CONTENTS ========== -->

    <!-- JS Global Compulsory  -->
    <script src="./assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- JS Implementing Plugins -->
    <script src="./assets/vendor/hs-header/dist/hs-header.min.js"></script>
    <script src="./assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.js"></script>
    <script src="./assets/vendor/hs-show-animation/dist/hs-show-animation.min.js"></script>
    <script src="./assets/vendor/hs-go-to/dist/hs-go-to.min.js"></script>
    <script src="./assets/vendor/aos/dist/aos.js"></script>
    <script src="./assets/vendor/prism/prism.js"></script>
    <script src="../assets/vendor/list.js/dist/list.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.10.5/dist/algoliasearch-lite.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.51.1"></script>

    <!-- JS Front -->
    <script src="./assets/js/theme.min.js"></script>
    <script src="./assets/js/algolia.js"></script>

    <!-- JS Plugins Init. -->
    <script>
      (function () {
        // INITIALIZATION OF HEADER
        // =======================================================
        new HSHeader("#header").init();

        // INITIALIZATION OF MEGA MENU
        // =======================================================
        new HSMegaMenu(".js-mega-menu", {
          desktop: {
            position: "left",
          },
        });

        // INITIALIZATION OF SHOW ANIMATIONS
        // =======================================================
        new HSShowAnimation(".js-animation-link");

        // INITIALIZATION OF BOOTSTRAP VALIDATION
        // =======================================================
        HSBsValidation.init(".js-validate", {
          onSubmit: (data) => {
            data.event.preventDefault();
            alert("Submited");
          },
        });

        // INITIALIZATION OF BOOTSTRAP DROPDOWN
        // =======================================================
        HSBsDropdown.init();

        // INITIALIZATION OF GO TO
        // =======================================================
        new HSGoTo(".js-go-to");

        // INITIALIZATION OF AOS
        // =======================================================
        AOS.init({
          duration: 650,
          once: true,
        });
        // INITIALIZATION OF LISTJS COMPONENT
        // =======================================================
        HSCore.components.HSList.init("#snippetsSearch");
        const snippetsSearch =
          HSCore.components.HSList.getItem("snippetsSearch");

        // GET JSON FILE RESULTS
        // =======================================================
        fetch("./assets/json/snippets-search.json")
          .then((response) => response.json())
          .then((data) => {
            snippetsSearch.add(data);
          });

        // INITIALIZATION OF GO TO
        // =======================================================
        new HSGoTo(".js-go-to");
      })();
    </script>
  </body>
</html>
